<div class="elem-box elem-box--medium">

    <div class="elem-box__header">
      <h1 class="elem-box__header-title">
        Registeration
      </h1>
    </div>
  
    <div class="elem-box__body">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Job Seeker Registeration">
          <app-job-seeker-register></app-job-seeker-register>
        </mat-tab>
    
        <mat-tab label="Employer Registeration">
          <app-employer-register></app-employer-register>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>