<div class="elem-box elem-box--large">

    <div class="elem-box__header">
      <h1 class="elem-box__header-title">
        {{pageTitle}}
      </h1>
    </div>

    <div class="elem-box__body">
      <div class="elem-box__user-info">
        <div class="elem-box__user-img">
          <img class="j-img--medium j-img--round" src="assets/images/sm-profile.jpg" alt="">
        </div>
        <div class="elem-box__user-text-content">
          <h1 class="elem-box__user-name">Hasrat Sabit</h1>
          <p class="elem-box__user-email">hsabit111@gmail.com</p>
          <p class="elem-box__user-location">Tampa, FL</p>
        </div>
      </div>

      <mat-tab-group>
        <mat-tab label="Overview"> 
          Overview
        </mat-tab>
        <mat-tab label="Posted Jobs">
          <app-job-list></app-job-list>
        </mat-tab>
        <mat-tab label="Applications"> Content 3 </mat-tab>
        <mat-tab label="Shortlists"> Content 3 </mat-tab>
        <mat-tab label="Add Job">
            <app-add-job></app-add-job>
        </mat-tab>
      </mat-tab-group>
    </div>
  
</div>