<div class="elem-box elem-box--large">

    <div class="elem-box__header">
      <h1 class="elem-box__header-title">
        {{pageTitle}}
      </h1>
    </div>

    <div class="elem-box__body">
      <div class="elem-box__user-info">
        <div class="elem-box__user-img">
          <img class="j-img--medium j-img--round" src="assets/images/sm-profile.jpg" alt="">
        </div>
        <div class="elem-box__user-text-content">
          <h1 class="elem-box__user-name">{{ profile.name }}</h1>
          <p class="elem-box__user-email">{{ profile.email }}</p>
          <p class="elem-box__user-location">{{ profile.location }}</p>
        </div>
      </div>
      <div class="app-tab">
        <ul class="app-tab__list">
            <li [routerLinkActive]="['active']" class="app-tab__list-item"><a [routerLink]="['/employer/employer-overview']" class="app-tab__list-link">Overview</a></li>
            <li [routerLinkActive]="['active']" class="app-tab__list-item"><a [routerLink]="['/employer/applicants']" class="app-tab__list-link">Applicants</a></li>
            <li [routerLinkActive]="['active']" class="app-tab__list-item"><a [routerLink]="['/employer/job-list']" class="app-tab__list-link">Job List</a></li>
            <li [routerLinkActive]="['active']" class="app-tab__list-item"><a [routerLink]="['/employer/add-job']" class="app-tab__list-link">Add Job</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
    </div>
</div>

