
.elem-box {
    width: 100%;
    border-radius: 3px;
    background: $color-white;
    margin: 0 auto;
    box-shadow: $shadow-grey-small;

    &--large {
      @include respond(tab-land) {
        width: 90%;
      }
    }

    &--medium {
      @include respond(tab-land) {
        width: 50%;
      }
    }

    &__header {
        position: relative;
        height: 50px;
        border-radius: 3px 3px 0 0;
        background: $color-primary-light;
    }

    &__header-title {
      position: absolute;
      top: 20px;
      left: 10px;
      font-size: .9rem;
      font-weight: 400;
      text-transform: uppercase;
      color: white;
    }

    &__header-close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $color-white;
    }

    &__body {
      width: 100%;
      padding: 20px 40px;
      @include clearfix;
    }

    &__form {
      margin-top: 10px;
    }

    &__buttons {
      float: right;
    }

    &__button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__user-info {
      @include clearfix;
      padding-bottom: 10px;
      // background: orange;
    }

    &__user-img {
      float: left;
      margin-right: 10px;
    }

    &__user-text-content {
      float: left;
      margin-top: 10px;
      color: $color-grey-dark;
    }

    &__user-name {
      font-size: 1rem;
      text-transform: uppercase;
    }

    &__user-email,
    &__user-location {
      margin-top: 5px;
      font-size: .8rem;
    }
}