<mat-form-field>
  <input matInput placeholder="Search for jobs">
</mat-form-field>
<table class="job-table">
  <tr>
    <th>No</th>
    <th>Job Title</th>
    <th>Company Name</th> 
    <th>Posted Date</th>
    <th>Applicants</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>01</td>
    <td>Sr. Software Developer</td>
    <td>Google</td>
    <td>July 19, 2018</td>
    <td>32</td>
    <td><a class="job-table__edit" href="">Edit</a></td>
    <td><a class="job-table__delete" href="">Delete</a></td>
  </tr>
</table>
